body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 10px;
}

#grid {
    display: grid;
    gap: 3px;
    margin-top: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.horizontal-line,
.vertical-line {
    opacity: 0.2;
    border-style: dotted;
    background-color: gray;
    transition: background 0.3s;
}

.horizontal-line:hover,
.vertical-line:hover {
    opacity: 1;
}

.horizontal-line.clicked,
.vertical-line.clicked {
    background-color: blue;
    opacity: 1;
}

.horizontal-line {
    height: 1px;
    width: 55px;
}

.vertical-line {
    width: 1px;
    height: 55px;
}